.App {
  min-height: 100vh;
  background: url("./bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  min-height: 5vh;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  border-width: 5px;
  border-radius: 20px;
  margin-right: 10px;
  color: white;
  font-size: larger;
  text-align: center;
}

.search-bar:focus {
  background-color: white;
  color: black;
  border: none;
}

.search-button {
  background-color: black;
  color: white;
  min-height: 5vh;
  font-size: larger;
  border-radius: 20px;
  padding: 1.5vh;
  border: none;
}

.search-button:hover {
  background-color: white;
  color: black;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto 5%;
}

.heading {
  margin: 3% 7%;
  background-color: white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(58, 57, 57);
  padding: 15px;
  text-align: center;
}